@font-face {
    font-family: 'GE SS Light';
    src: url("../resources/fonts/GE-SS-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: 'Lucida Grande';
    src: url("../resources/fonts/Lucida-Grande.ttf") format("opentype");
}

@font-face {
    font-family: 'GE SS Medium';
    src: url("../resources/fonts/GE-SS-Light.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    margin-right: 7%;
    flex-basis: 16%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

fieldset {
    border: 0;
}

legend {
    text-align: center;
    font-family: 'GE SS Light';
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 2%;
}

form {
    padding-top: 10%;
}

header a {
    color: #FFFFFF;
}

.nav-1 {
    font-family: 'GE SS Light';
    font-size: 14px;
    background-color: #002D59;
}

.nav-1 ul {
    height: 42px;
    display: flex;
    align-items: center;
    margin-right: 7%;
}

.nav-1 img {
    padding-right: 11px;
    vertical-align: middle;
}

.nav-1_item {
    width: 9%;
}

.nav-1_item:last-child {
    font-family: 'Lucida Grande';
    font-size: 12px;
}

.container-1 {
    font-family: 'GE SS Medium';
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 81px;
}

h1 img {
    width: 100%;
    max-width: 134px;
    height: auto;
}

.nav-2 {
    width: 100%;
}

.nav-2 ul {
    display: inline-block;
    width: 42%;
}

.nav-2 ul:last-child {
    text-align: end;
}

.nav-2_item {
    display: inline-block;
    margin-right: 10%;
}

.nav-icon {
    margin-left: 11px;
    width: 100%;
    max-width: 20px;
    height: auto;
}

.body {
    position: relative;
}

.background {
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    height: 700px;
}

.form {
    font-family: 'GE SS Medium';
    font-size: 18px;
    background-color: #FFFFFF;
    width: 75%;
    margin: auto;
    display: flex;
    border-radius: 10px;
}

.form-field {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 15px 20px 19px 20px;
}

.line {
    box-sizing: border-box;
    height: 56px;
    width: 3px;
    border: 1px solid #002D59;
    opacity: 0.1;
    background-color: #002D59;
    margin-top: 12px;
}

.main button {
    position: absolute;
    height: 45px;
    width: 250px;
    margin-top: 80px;
    left: 42.5%;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    font-family: "GE SS Light";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    border-radius: 32.5px;
    border: 0;
    background-color: #009FE3;
    color: #FFFFFF;
}

.main p {
    color: #FFFFFF;
    font-family: 'GE SS Medium';
    font-size: 16px;
    margin-top: 11px;
    text-align: center;
}


.selects {
    border: 0px;
    outline: 0px;
}

.selects {
    margin-right: -5px;
    margin-top: 10px;
    color: #979797;
}

.destinations {
    text-align: center;
}

.destinations h2 {
    font-family: 'GE SS Medium';
    font-size: 32px;
    color: #002D59;
    line-height: 38px;
}

.destinations ul {
    position: relative;
    margin: 3% 0;
    display: flex;
    justify-content: center;
}

.set-1:first-of-type {
    margin-left: 10px;
}

.set-1:last-of-type {
    margin-right: 10px;
}

.set-1 {
    position: relative;
    margin: 0 3% 0 0;
    z-index: -1;
}

.set-2 {
    position: relative;
    height: auto;
    z-index: -1;
    max-width: 310px;
    margin: 0px 10px 0px 10px;
}

.description {
    position: absolute;
    margin-right: -25%;
    top: 60%;
    font-family: 'GE SS Light';
    font-size: 26px;
    color: #FFFFFF;
}

.des2 {
    top: 50%;
    margin-right: -13.5%;
}


.info {
    display: inline-block;
    background-color: #009FE3;
    color: #FFFFFF;
    font-family: 'GE SS Light';
    font-size: 16px;
    margin-top: 2%;
    border-radius: 32.5px;
    line-height: 53px;
    width: 295px;
}

.application {
    margin-top: 80px;
    height: 549px;
    background-color: #002D59;
    position: relative;
}

.background-2 {
    position: absolute;
    height: 100%;
    left: 0%;
}

.container-4 {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 150px;
    margin-right: 109px;
}

.container-4 h2 {
    height: 34px;
    width: 392px;
    color: #FFFFFF;
    font-family: GE SS;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 34px;
}

.container-4 p {
    height: 62px;
    width: 453px;
    color: #FFFFFF;
    font-family: 'GE SS Light';
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: right;
}

.social {
    margin-top: 30px;
    text-align: center;
    width: 400px;
}

.social a {
    display: inline;
}

.social img {
    border-radius: 7px;
    background-color: #000000;
    height: 45.92px;
    margin-left: 20px;
}

.benefits {
    position: relative;
    text-align: center;
    margin-top: 80px;
}

.benefits h2 {
    font-size: 32px;
    margin-bottom: 80px;
}

.benefits h3 {
    font-size: 24px;
}

.benefits p {
    font-size: 18px;
}

.benefits h2,
h3,
p {
    font-family: 'GE SS Light';
}

.container-5 img {
    display: inline-block;
    height: 450px;
    top: 500px;
}

.container-6 {
    position: absolute;
    display: inline-block;
    text-align: right;
}

.container-6:last-of-type {
    top: 27%;
    left: 7%;
}

.container-6:nth-of-type(2) {
    top: 49%;
    left: 85%;
}

.container-6:first-of-type {
    left: 75%;
    top: 13%;
}

.container-6 h3 {
    margin-bottom: 20px;
}

.join {
    margin-top: 80px;
}

.join a:first-child {
    display: inline-block;
    box-sizing: border-box;
    line-height: 45px;
    width: 249px;
    border-radius: 32.5px;
    background-color: #009FE3;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'GE SS Light';
}

.join a:last-child {
    display: inline-block;
    box-sizing: border-box;
    line-height: 45px;
    width: 249px;
    border: 1px solid #002D59;
    border-radius: 32.5px;
    font-size: 16px;
    font-family: GE SS;
}

.ways {
    background-color: #F6F7F9;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}

.people img {
    width: 100%;
    max-width: 50vw;
    height: auto;
}

.content {
    text-align: center;
    background-color: #F6F7F9;
    width: 50vw;
    line-height: 110px;
}

.content h2 {
    font-family: 'GE SS Light';
    font-size: 36px;
}

.content p {
    font-family: 'GE SS Light';
    font-size: 26px;
}

.paymentmethods {
    display: flex;
    justify-content: center;
}

.paymentmethods div {
    margin: 0px 30px;
}

.content a {
    font-family: 'GE SS Light';
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 45px;
    width: 200px;
    border: 1px solid #002D59;
    border-radius: 32.5px;
}

footer {
    background-color: #002D59;
    display: flex;
    height: 282px;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    color: #FFFFFF;
    font-family: 'GE SS Light';
    font-size: 16px;
}

footer div,
footer ul {
    line-height: 50px;
    color: #FFFFFF;
    font-family: 'GE SS Light';
    font-size: 16px;
}

footer>a {
    color: #FFFFFF;
    font-family: 'GE SS Light';
    font-size: 31px;
    margin-bottom: 50px;
}