$color_1: #FFFFFF;
$color_2: #979797;
$color_3: #002D59;
$font_family_1: 'GE SS Light';
$font_family_2: 'Lucida Grande';
$font_family_3: 'GE SS Medium';
$font_family_4: "GE SS Light";
$font_family_5: GE SS;
$background_color_1: #002D59;
$background_color_2: #FFFFFF;
$background_color_3: #009FE3;
$background_color_4: #000000;
$background_color_5: #F6F7F9;

@font-face {
    font-family: 'GE SS Light';
    src: url("../resources/fonts/GE-SS-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: 'Lucida Grande';
    src: url("../resources/fonts/Lucida-Grande.ttf") format("opentype");
}

@font-face {
    font-family: 'GE SS Medium';
    src: url("../resources/fonts/GE-SS-Light.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    margin-right: 7%;
    flex-basis: 16%;

    img {
        width: 100%;
        max-width: 134px;
        height: auto;
    }
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

fieldset {
    border: 0;
}

legend {
    text-align: center;
    font-family: $font_family_1;
    font-size: 50px;
    color: $color_1;
    margin-bottom: 2%;
}

form {
    padding-top: 10%;
}

header {
    a {
        color: $color_1;
    }
}

.nav-1 {
    font-family: $font_family_1;
    font-size: 14px;
    background-color: $background_color_1;

    ul {
        height: 42px;
        display: flex;
        align-items: center;
        margin-right: 7%;
    }

    img {
        padding-right: 11px;
        vertical-align: middle;
    }
}

.nav-1_item {
    width: 9%;

    &:last-child {
        font-family: $font_family_2;
        font-size: 12px;
    }
}

.container-1 {
    font-family: $font_family_3;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 81px;
}

.nav-2 {
    width: 100%;

    ul {
        display: inline-block;
        width: 42%;

        &:last-child {
            text-align: end;
        }
    }
}

.nav-2_item {
    display: inline-block;
    margin-right: 10%;
}

.nav-icon {
    margin-left: 11px;
    width: 100%;
    max-width: 20px;
    height: auto;
}

.body {
    position: relative;
}

.background {
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    height: 700px;

    button {
        position: absolute;
        height: 45px;
        width: 250px;
        margin-top: 80px;
        left: 42.5%;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
        font-family: $font_family_4;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        border-radius: 32.5px;
        border: 0;
        background-color: $background_color_3;
        color: $color_1;
    }

    p {
        color: $color_1;
        font-family: $font_family_3;
        font-size: 16px;
        margin-top: 11px;
        text-align: center;
    }
}

.form {
    font-family: $font_family_3;
    font-size: 18px;
    background-color: $background_color_2;
    width: 75%;
    margin: auto;
    display: flex;
    border-radius: 10px;
}

.form-field {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 15px 20px 19px 20px;
}

.line {
    box-sizing: border-box;
    height: 56px;
    width: 3px;
    border: 1px solid #002D59;
    opacity: 0.1;
    background-color: $background_color_1;
    margin-top: 12px;
}

.selects {
    border: 0px;
    outline: 0px;
    margin-right: -5px;
    margin-top: 10px;
    color: $color_2;
}

.destinations {
    text-align: center;

    h2 {
        font-family: $font_family_3;
        font-size: 32px;
        color: $color_3;
        line-height: 38px;
    }

    ul {
        position: relative;
        margin: 3% 0;
        display: flex;
        justify-content: center;
    }
}

.set-1 {
    &:first-of-type {
        margin-left: 10px;
    }

    &:last-of-type {
        margin-right: 10px;
    }

    position: relative;
    margin: 0 3% 0 0;
    z-index: -1;
}

.set-2 {
    position: relative;
    height: auto;
    z-index: -1;
    max-width: 310px;
    margin: 0px 10px 0px 10px;
}

.description {
    position: absolute;
    margin-right: -25%;
    top: 60%;
    font-family: $font_family_1;
    font-size: 26px;
    color: $color_1;
}

.des2 {
    top: 50%;
    margin-right: -13.5%;
}

.info {
    display: inline-block;
    background-color: $background_color_3;
    color: $color_1;
    font-family: $font_family_1;
    font-size: 16px;
    margin-top: 2%;
    border-radius: 32.5px;
    line-height: 53px;
    width: 295px;
}

.application {
    margin-top: 80px;
    height: 549px;
    background-color: $background_color_1;
    position: relative;
}

.background-2 {
    position: absolute;
    height: 100%;
    left: 0%;
}

.container-4 {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 150px;
    margin-right: 109px;

    h2 {
        height: 34px;
        width: 392px;
        color: $color_1;
        font-family: $font_family_5;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 34px;
    }

    p {
        height: 62px;
        width: 453px;
        color: $color_1;
        font-family: $font_family_1;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        text-align: right;
    }
}

.social {
    margin-top: 30px;
    text-align: center;
    width: 400px;

    a {
        display: inline;
    }

    img {
        border-radius: 7px;
        background-color: $background_color_4;
        height: 45.92px;
        margin-left: 20px;
    }
}

.benefits {
    position: relative;
    text-align: center;
    margin-top: 80px;

    h2 {
        font-size: 32px;
        margin-bottom: 80px;
        font-family: $font_family_1;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }
}

h3 {
    font-family: $font_family_1;
}

p {
    font-family: $font_family_1;
}

.container-5 {
    img {
        display: inline-block;
        height: 450px;
        top: 500px;
    }
}

.container-6 {
    position: absolute;
    display: inline-block;
    text-align: right;

    &:last-of-type {
        top: 27%;
        left: 7%;
    }

    &:nth-of-type(2) {
        top: 49%;
        left: 85%;
    }

    &:first-of-type {
        left: 75%;
        top: 13%;
    }

    h3 {
        margin-bottom: 20px;
    }
}

.join {
    margin-top: 80px;

    a {
        &:first-child {
            display: inline-block;
            box-sizing: border-box;
            line-height: 45px;
            width: 249px;
            border-radius: 32.5px;
            background-color: $background_color_3;
            font-size: 16px;
            color: $color_1;
            font-family: $font_family_1;
        }

        &:last-child {
            display: inline-block;
            box-sizing: border-box;
            line-height: 45px;
            width: 249px;
            border: 1px solid #002D59;
            border-radius: 32.5px;
            font-size: 16px;
            font-family: $font_family_5;
        }
    }
}

.ways {
    background-color: $background_color_5;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}

.people {
    img {
        width: 100%;
        max-width: 50vw;
        height: auto;
    }
}

.content {
    text-align: center;
    background-color: $background_color_5;
    width: 50vw;
    line-height: 110px;

    h2 {
        font-family: $font_family_1;
        font-size: 36px;
    }

    p {
        font-family: $font_family_1;
        font-size: 26px;
    }

    a {
        font-family: $font_family_1;
        font-size: 18px;
        display: inline-block;
        box-sizing: border-box;
        line-height: 45px;
        width: 200px;
        border: 1px solid #002D59;
        border-radius: 32.5px;
    }
}

.paymentmethods {
    display: flex;
    justify-content: center;

    div {
        margin: 0px 30px;
    }
}

footer {
    background-color: $background_color_1;
    display: flex;
    height: 282px;
    justify-content: space-evenly;
    align-items: center;

    a {
        color: $color_1;
        font-family: $font_family_1;
        font-size: 16px;
    }

    div {
        line-height: 50px;
        color: $color_1;
        font-family: $font_family_1;
        font-size: 16px;
    }

    ul {
        line-height: 50px;
        color: $color_1;
        font-family: $font_family_1;
        font-size: 16px;
    }

    >a {
        color: $color_1;
        font-family: $font_family_1;
        font-size: 31px;
        margin-bottom: 50px;
    }
}